h3{
    color: red;
    text-align: center;
    font-family: Trebuchet MS;
}
div.data{
    margin: 200
}
div.bukandata{
    margin: 10;
    margin-right: 500;
}
div.datadiri{
    margin-top: 1;
    margin-left: 10;
    margin-right: 500
}
body{
    background: url("bg_2.jpg")
}
.gambar{
    width: 500px;
    float: left;
    margin-left: 10px;
}